registry = http://artifactory.eu.moovitapp.com/artifactory/api/npm/npm-virtual
_auth = YWRtaW46QVBBUFJ3QkxWZHhTRXFiVXJOanpEVUZxUmFr
always-auth = true
email = ori.calvo@gmail.com
@angular:registry =https://registry.npmjs.org
@ngx-translate:registry =https://registry.npmjs.org
